<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>词频统计</title>
    <!-- Bootstrap Styles-->
    <link th:href="@{assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- Table Expand Styles-->
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-table-expandable.css}" />
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Movie</a>
        </div>
    </nav>
    <!--/. NAV TOP  -->

    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li><a th:href="@{/time}"><i class="fa fa-dashboard"></i> 按时间查找 </a></li>
                <li><a th:href="@{/name}"><i class="fa fa-desktop"></i> 按名称查找 </a></li>
                <li><a th:href="@{/director}"><i class="fa fa-bar-chart-o"></i> 按导演查找 </a></li>
                <li><a th:href="@{/actor}"><i class="fa fa-qrcode"></i> 按演员查找 </a></li>
                <li><a th:href="@{/type}"><i class="fa fa-table"></i> 按类别查找 </a></li>
                <li><a th:href="@{/combine}"><i class="fa fa-edit"></i> 组合查询 </a></li>
                <li><a class="active-menu" th:href="@{/search}"><i class="fa fa-sitemap"></i> 词频统计 </a></li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">词频统计</h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-lg-12">
                    <form role="form">
                        <div class="form-group col-lg-12 col-md-12">
                            <label>词条</label>
                            <input class="form-control" placeholder="请输入要统计的词条" />
                        </div>

                        <div class="clearfix"></div>
                        <br/>
                        <center><button type="submit" class="btn btn-primary">查找</button></center>
                    </form>
                    <br/>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h3 class="panel-heading">查询结果</h3>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-expandable" style="background-color: #f3f3f3">
                                <thead>
                                <tr style="background-color: #428bca; color: white">
                                    <th>No.</th>
                                    <th>词条</th>
                                    <th>频率</th>
                                    <th>Mysql耗时</th>
                                    <th>Hive耗时</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>值得看</td>
                                    <td>300</td>
                                    <td>10</td>
                                    <td>10</td>
                                </tr>

                                <tr>
                                    <td colspan="6">
                                        <table class="table table-bordered table-hover" style="background-color: #fafafa">
                                            <thead>
                                            <tr class="info">
                                                <th>No.</th>
                                                <th>电影名称</th>
                                                <th>评论</th>
                                                <th>评论用户</th>
                                                <th>评分</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr onclick="window.open('https://www.amazon.com/dp/B00006HAXW/');" style="cursor: pointer">
                                                <td>1</td>
                                                <td>星际穿越</td>
                                                <td>......值得看......</td>
                                                <td>用户1</td>
                                                <td>9.8</td>
                                            </tr>
                                            <tr onclick="window.open('https://www.amazon.com/dp/B00006HAXW/');" style="cursor: pointer">
                                                <td>2</td>
                                                <td>星际穿越</td>
                                                <td>......值得看......</td>
                                                <td>用户1</td>
                                                <td>9.8</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>诺兰出品必属精品</td>
                                    <td>500</td>
                                    <td>10</td>
                                    <td>10</td>
                                </tr>

                                <tr>
                                    <td colspan="6">
                                        <table class="table table-bordered table-hover" style="background-color: #fafafa">
                                            <thead>
                                            <tr class="info">
                                                <th>No.</th>
                                                <th>电影名称</th>
                                                <th>评论</th>
                                                <th>评论用户</th>
                                                <th>评分</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr onclick="window.open('https://www.amazon.com/dp/B00006HAXW/');" style="cursor: pointer">
                                                <td>1</td>
                                                <td>星际穿越</td>
                                                <td>......诺兰出品必属精品......</td>
                                                <td>用户1</td>
                                                <td>9.8</td>
                                            </tr>
                                            <tr onclick="window.open('https://www.amazon.com/dp/B00006HAXW/');" style="cursor: pointer">
                                                <td>2</td>
                                                <td>星际穿越</td>
                                                <td>......诺兰出品必属精品......</td>
                                                <td>用户1</td>
                                                <td>9.8</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h3 class="panel-heading">时间比较图</h3>
                    <div class="panel-body">
                        <div id="morris-bar-chart"></div>
                    </div>
                    <br/>
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
        <footer><p id="footer">All Rights Reserved | Design by LiHang</p></footer>
        <!-- /.FOOTER -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script th:src="@{assets/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<!-- Metis Menu Js -->
<script th:src="@{assets/js/jquery.metisMenu.js}"></script>
<!-- Morris Chart Js -->
<script th:src="@{assets/js/morris/raphael-2.1.0.min.js}"></script>
<script th:src="@{assets/js/morris/morris.js}"></script>
<!-- Table Expand Js -->
<script th:src="@{assets/js/bootstrap-table-expandable.js}"></script>
<!-- Custom Js -->
<script th:src="@{assets/js/custom-scripts.js}"></script>


</body>

</html>